.custom-below-header {
    background-color: theme-color('banner_background_color');
    height: 40px;
    width: 100%;
    padding: 0 12px; /* Adds some padding inside the header */
    display: flex;
    justify-content: center;
  
    .content {
      width: max-content;
      height: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
  
      > a {
        text-decoration: none;
        color: white; /* Ensures link text is white */
        font-family: var(--heading-font-family);
      }
  
      > svg {
        color: white;
        transition: transform 0.3s ease, color 0.3s ease;
  
        &:hover {
          transform: translateX(5px); /* Moves the SVG 5px to the right */
        }
      }
    }
  }
  